*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #1a7951; 
    background: -webkit-linear-gradient(to right, #0f3443, #1a7951); 
    background: linear-gradient(to right, #0f3443, #1a7951); 
    color: rgba(255, 255, 255, 0.712);

}
.players{
    
    text-align: center;
    padding: 10px;
    
    
}
h1{
    margin-bottom: 30px;
    color: rgb(196, 240, 214);
    letter-spacing: 10px;
    text-transform: uppercase;
}



.players input{
    padding: 0 auto;
}


input[type='submit']{
    display: block;
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: rgb(196, 240, 214);
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    transition: all .2s;
}

input[type='submit']:hover{
    transform: translateY(-2px);
    box-shadow: 0 3px 8px #333333;
}
input[type='submit']:active{
    transform: translateY(0);
    box-shadow: 0 1px 8px #4b4b4b;
}
textarea{
    resize: none;
    background: #f5f5f5;
    outline: none;
}

textarea:focus{
    background: rgb(196, 240, 214);
}




input[type='text']{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 5px 10px;
    background: #f5f5f5;
    
}

input[type='text']:focus{
    background: rgb(196, 240, 214);
}




/*-------------TABLE LAYOUT-----------*/
/*-------------TABLE LAYOUT-----------*/
/*-------------TABLE LAYOUT-----------*/
table{
    border-collapse: collapse;
    margin: 50px auto;
    /* background: linear-gradient(to bottom, rgba(6, 52, 73, 0.5), rgba(255, 255, 255, 0.5));   */
    background: rgba(253, 253, 253, 0.144);
    box-shadow: 0 0 20px black;
    
}
th, td{
    position: relative;
    padding: 25px;
    border: 1px solid rgba(12, 63, 19, 0.623);
    text-align: center;
    
    
}
tr{
    font-weight: 700;
}
th{
    text-transform: uppercase;
}



/*-------------ICONS-----------*/
/*-------------ICONS-----------*/
/*-------------ICONS-----------*/
.icon {
    width: 20px;
    height: 20px;
    fill: red;
}
.fa-heart{
    color: red;
}

/*-------------CHECKBOX-----------*/
/*-------------CHECKBOX-----------*/
/*-------------CHECKBOX-----------*/
label{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
  }
input[type="checkbox"]{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 15px;
    width: 15px;
    background-color: rgb(56, 204, 56);
    opacity: 1;
}
.checkmark:hover{
    background-color: red;
}
input[type='checkbox']:checked ~ .checkmark {
    background-color: red;
}




